<h3>Edit an existing user!</h3>

<%= form_with model: @user do |f| %>
    <% if @user.errors.any? %>
      <h4>These errors stopped the user from being edited!:</h4>
      <ul>
        <% @user.errors.full_messages.each do |m| %>
          <li><%= m %></li> 
        <% end %>
      </ul>
    <% end %>
    
  <%= f.label :username, "Username" %>
  <%= f.text_field :username %> <br>
  <%= f.label :email, "E-mail" %>
  <%= f.email_field :email %> <br>
  <%= f.label :password, "Password" %>
  <%= f.password_field :password %> <br>
  <%= f.submit %>
<% end %>