<h1>Users#new</h1>

<h3>Create a new user!</h3>

<%# HTML Form %>

<%# <form action="/users/create" method="post" accept-charset="UTF-8">
  
  <label for="username">Username:</label>
  <input type="string" id="username" name="user[username]"><br><br>
  
  <label for="email">Email:</label>
  <input type="string" id="email" name="user[email]"><br><br>
  
  <label for="password">Password:</label>
  <input type="password" id="password" name="user[password]"><br><br>
  
  <input type="submit" value="Submit">
</form> %>


<%# Railsy Forms with #form_tag %>

<%= form_tag('/users/create') do %>
  <%= label_tag(:username, "Username") %>
  <%= text_field_tag(:username) %> <br>
  <%= label_tag(:email, "Email") %>
  <%= text_field_tag(:email) %> <br>
  <%= label_tag(:password, "Password") %>
  <%= password_field_tag(:password) %> <br>
  <%= submit_tag %>
<% end %>